:root {
  margin: 0;
  padding: 0;
  background-color: plum;
}

.main-section {
  display: flex;
  width: auto;
  gap: 2rem;
  height: auto;
  .sub-section {
    display: flex;
    border: 2px solid black;
    width: 5rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    cursor: pointer;
  }
}
